* {
  font-family: "Times New Roman";

}

.complete {
  text-decoration: line-through;
}

.priorityButton {
  color: grey;
  background-color: white;
  cursor: pointer;
}

.prioritizedButton {
  color: red;
  background-color: black;
  cursor: pointer;
}

.doneButton {
  color: green;
  cursor: pointer;
}

.crossButton {
  background-color: red;
  color: black;
  cursor: pointer;
}

h1 {
  color: blue;
  font-size: 45px;
}

li {
  color: blue
  font-size: 26px;
}

#add {
  cursor: pointer;
}
